[ng-cloak]{
  display: none !important;
}

.search-alerts {margin-bottom: 3em;font-family:Sans-Serif;}

.page-header-alerts{
  background-color: #fff;
  border-bottom:2px solid #E6E6E6;
  -webkit-box-shadow: 0px 0px 0px #EEE;
  -moz-box-shadow: 0px 0px 0px #EEE;
  box-shadow: 0px 0px 0px #EEE;
}
.page-header-alerts h1{
    margin-top:20px !important;
    margin-bottom:20px !important;
    font-family: 'Roboto Condensed', Sans-Serif;
    font-weight:400;
    color:#CD2027;
    font-style: italic;
    font-size:30px;
}
.search-alerts h3{
    margin-bottom:0;
    font-size:15px;
    color:#777;
    text-shadow:0 0 0 #000;}

.repeater-form .btn {
  font-weight: normal !important; }

.form-inline .row {
  margin-left: -15px;
  margin-right: -15px; }

.repeater-form .form-control {
    height: auto !important;
}

.no-left-pad {
    padding-left: 0 !important;
}

.row-details{
    margin-top:.75em;
    margin-bottom:.75em;
}
.row-group {
    margin-bottom:.75em;
    font-weight: normal;
    background:#FFF none;
    border-radius:3px;
}
.row-group .main-col{
    margin-top: .5em;
}
.row-group .row-section{
    margin-bottom:0 !important;
    padding-top:2em;
    padding-bottom:2em;
    border-left:1px solid #EEE;
}
.row-section .dropdown-menu{
    top:60%;
}
.row-group p{
    margin-top:10px;
    color:#333;
}
.action-row.ng-hide{
    display:inline-block !important;
}
.row-group h4.name-input {
  margin: 0;
  font-size:18px;
  font-weight: normal;
  padding-left: 0;
  background: 0 none;
  border: 0 none;
  box-shadow: none; 
}
.row-group h4.name-input a{
    color:#333;
    text-decoration:underline;
}
.row-group h4.name-input a:hover, .row-group h4.name-input a:focus, .row-group h4.name-input a:active{
    text-decoration: none;
}
.row-group h4, .row-group a{
  line-height: 1.5;
}
.row-group input.name-input{
    font-size:18px;
    padding: 6px 12px;
}
.row-group .btn.btn-link:hover {
  background: #EEE none; 
}
.row-group .btn.btn-link:focus {
  background: #EEE none; 
}
.row-group .alert-warning.base-ani .btn.btn-link:hover {
  background: none; 
}
.row-group .alert-warning.base-ani .btn.btn-link:focus {
  background: none; 
}
.row-group .alert-label {
  margin-bottom:0;
  padding-left: 0;
  padding-bottom:1px;
  color: #999;
  text-align: center;
  font-weight: normal;
}
.row-group .badge-numbers {
  padding-top: 6px;
  text-align: center; 
}
.row-group .action-row {
  padding-left: 7px; 
}
.row-group .action-row a, .row-group .action-row button{
  color:#999;
}
.row-group .action-row a.btn:hover, .row-group .action-row button.btn:hover{
  background-color:transparent !important;
}
.row-group button.frequency-alert{
  margin:0;
  padding:0;
  color:#999;
  border:0 none;
}
.row-group button.btn.frequency-alert:hover, .row-group button.btn.frequency-alert:focus, .row-group button.btn.frequency-alert:active{
  background-color: #FFF;
}
.row-group .caret{
  border-top-color:#999;
}
.row-group .delete-alert i {
  margin-top: 2px;
  margin-right: 3px; 
}
.row-details .alert-label {
  padding-left: 0;
  padding-top: 25px;
  margin-bottom: 0 !important;
  color: #999;
  text-align: left;
  font-weight: normal; 
}

.dd-btn {
  width: 13%; }

.alert-btn-group a, .alert-btn-group form button{
  padding:0 6px; 
}
.alert-btn-group form{
  float:left;
}

.item-notification{ 
  position:absolute;
  text-align: center;
  color:#777;
  margin-top:17px;
  width:100%;
  z-index:55002;
}

.item-notification-backdrop{
  position:absolute;
  left:0;
  right:0;
  height:77px;
  background:#eee;
  z-index:55001;
  opacity:0.5;
  filter: alpha(opacity=0.5);
}

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("../images/glyphicons.png");
}

.icon-loading {
    display: inline-block;
    width: 43px;
    margin: 4px 0 0 12px;
    background: url('./img/button-loader-primary.gif') no-repeat left bottom;
}

/*-------------------------------*/
/*---ANGULAR ANIMATION CLASSES---*/
/*-------------------------------*/
.base-ani.ng-enter, .base-ani.ng-leave, .base-ani.ng-move {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  transition: all linear 0.2s; 
}
.base-ani.ng-leave.ng-leave-active, .base-ani.ng-enter {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0; 
}
.base-ani.ng-enter.ng-enter-active, .base-ani.ng-leave {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1; 
}
.base-ani.ng-enter-stagger, .base-ani.ng-leave-stagger{
  -webkit-transition-delay:0.1s;
  transition-delay:0.1s;
}

.alert.alert-warning.base-ani{
  margin-left:-15px;
  margin-right:-15px;
  margin-bottom:.75em;
  color:#FFF;
  background:#CD2027 none;
  border:0 none;
}
.alert.alert-warning.base-ani a.btn, .alert.alert-warning.base-ani a.btn:visited{
  padding-left:6px;
  padding-right:6px;
  color:#FFF;
}
.alert.alert-warning.base-ani a.btn:hover, .alert.alert-warning.base-ani a.btn:focus, .alert.alert-warning.base-ani a.btn:active{
  text-decoration: underline;
  background-color:#CD2027;
}
.loading-widget{
  filter: alpha(opacity=0);
  opacity: 0;
  position:relative;
  margin:25px auto;
  -webkit-transition:0.2s linear all;
  transition:0.2s linear all;
}
.loading-widget.loader-in-add, .loading-widget.loader-in-add.loader-in-active, .loading-widget.loadin-out-remove{
  filter: alpha(opacity=100);
  opacity:1;
}
.loading-widget.loader-out-add.loader-out-active, .loading-widget.loader-in-remove{
  filter: alpha(opacity=0);
  opacity:0;
}
.loading-widget p{
  text-align:center;
  font-size: 120%;
}
.loading-widget p img{
  padding-right: 15px;
}
.delete-loading{
  -webkit-transition:0.2s linear all;
  transition:0.2s linear all;
}
.delete-loading.delete-in-add.delete-in-add-active, .delete-loading.delete-out-remove {
  opacity:1;
  filter: alpha(opacity=100);
}
.delete-loading.delete-out-add.delete-out-add-active, .delete-loading.delete-in-remove {
  opacity:0;
}

/* TARGET PAGE BREAKPOINTS

@media (max-width:480px) {}
@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}

*/

@media (max-width:480px) {
  .page-header-alerts h1{margin-left:15px;}
  .search-alerts h3{margin-left: 15px;}
  .row.row-group{margin-left:0px;margin-right:0px;}
  .row-group .row-section{padding-top:1em;padding-bottom:1em;border:0 none;}
  .row-group .main-col{border-bottom: 1px solid #EEE;}
  .search-alerts .row-section h3{margin-top:0;margin-left:0;}
  .text-center.row-section{text-align:left;}
}

@media (max-width: 767px) {
  .search-alerts{margin-bottom:0;}
  .search-alerts.last{margin-bottom:2em;}
  .page-header-alerts h1{margin-left: 15px;}
  .search-alerts h3{margin-left: 15px;}
  .form-inline .form-group{margin-bottom: 5px;}
  .row.row-group{margin-left:0px;margin-right:0px;}
  .row-group .row-section{padding-top:1em;padding-bottom:1em;border:0 none;}
  .row-section .dropdown-menu{top:75%;} 
  .row-group .main-col{border-bottom: 1px solid #EEE;}
  .search-alerts .row-section h3{margin-top:0;margin-left:0;}
  .text-center.row-section{text-align:left;}
  .action-row.ng-hide{display:none !important;}
}
