<!doctype html>
<!--
Copyright 2014 Google Inc. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="manageAlertsApp" ng-cloak >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Sample illustrating the use of Push Messaing and Notifications.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Push Messaging &amp; Notifications</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-title" content="Push Messaging and Notifications Sample">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" href="../images/apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="icon" href="../images/favicon.ico">
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400italic,300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/manage-alerts.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Include manifest file in the page -->
    <link rel="manifest" href="manifest.json">

  </head>

  <body>
    <div class="wrapper page-header-alerts">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Search Agent Alerts</h1> 
                </div>
            </div>
        </div>
    </div>
    <div class="container search-alerts" ng-controller="manageCtrl">
        <div class="row">
            <div class="col-md-12">
                <div class="row row-details">
                    <div class="col-xs-11 col-sm-6 col-md-6 col-lg-6">
                        <h3>Alert Title</h3>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2 col-md-offset-0 hidden-xs text-center">
                        <h3>Date Updated</h3>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2 col-md-offset-0 hidden-xs text-center">
                        <h3>Notification Type</h3>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2 col-md-offset-0 hidden-xs text-center">
                        <h3>Push Notifications</h3>
                        <button class="js-push-button" disabled>
                              Enable Push Messages
                        </button>
                    </div>
                </div>
                <div class="loading-widget" loading-widget ></div>
                <div class="repeater-form" ng-if="noAgentAlerts">
                    <div class="row row-group">
                        <div class="col-sm-12 col-md-12">
                            <p>No existing saved searches were found. <a href="/ows/isearch.html">Start a new search</a> to save additional searches.</p>
                        </div>
                    </div>
                </div>
                <!-- BEGIN JOB ALERT NG-REPEAT -->
                <div class="base-ani repeater-form ng-cloak" ng-cloak ng-switch="warnings" ng-repeat="alert in alerts | orderBy:'lastModifiedDate':true" item-scope>
                    <!-- BEGIN INTERACTION MESSAGES -->
                    <div class="alert alert-warning base-ani" ng-switch-when="warningsDelete"><i class="icon-question-sign icon-white">
                        </i> Are you sure you want to delete this alert? <a id="delete-confirm-{{$index + 1}}" class="btn btn-link" ng-click="alertDestroy(alert); $parent.itemLoading = true; $parent.warnings='warningsNone'">Yes</a> <a id="delete-cancel-{{$index + 1}}" class="btn btn-link no-left-pad" ng-click="$parent.warnings='warningsNone'">Cancel</a>
                    </div>
                    <!-- END INTERACTION MESSAGES -->
                    <div class="row row-group">
                        <div delete-loading class="delete-loading">
                        </div>
                        <div id="alert-{{$index + 1}}" class="form-inline col-xs-12 col-sm-6 col-md-6 col-lg-6 main-col">
                            <div class="row" toggle-control >
                                <div class="form-group col-sm-12 no-left-pad"> 
                                    <div class="col-sm-12 col-md-12 alert-name-ani" >
                                        <form ng-submit="alertUpdate()" id="alert-form-{{$index + 1}}" class="form-inline" name="alertForm">
                                            <input id="alert-form-{{$index + 1}}" name="alertName" class="form-control name-input form-name" type="text" ng-blur="alertUpdate()" ng-model="alert.ssearchName" static-toggle click-focus ng-minlength=3 ng-maxlength=100 required />
                                            <h4 class="form-control name-input" static-toggle ><a id="alert-name-{{$index + 1}}" href="${domainData.employerDomain}/ows/isearch.html?lss={{alert.id}}">{{alert.ssearchName}}</a></h4>
                                        </form>
                                    </div>
                                </div>
                                <div class="form-group action-row col-sm-10">
                                    <div class="btn-group alert-btn-group">
                                        <a id="alert-rename-{{$index + 1}}" ng-click="inputToggle = true; inputFocus = true" class="btn btn-link rename-alert" type="button" rename-toggle >Rename</a>
                                        <a id="alert-delete-{{$index + 1}}" class="btn btn-link" ng-click="warnings='warningsDelete'">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- END FORM INLINE -->
                        <div class="form-group col-xs-6 col-sm-2 col-md-2 col-md-offset-0 text-center row-section">
                            <h3 class="hidden-sm hidden-md hidden-lg">Date Updated</h3>
                            <label id="lastmodified-date-{{$index + 1}}" class="alert-label">{{alert.formattedLastModifiedDate}}</label>
                        </div>
                        <div class="form-group col-xs-6 col-sm-2 col-md-2 text-center row-section">
                            <h3 class="hidden-sm hidden-md hidden-lg">Notifications</h3>
                            <button id="email-frequency-{{$index + 1}}" class="btn btn-link dropdown-toggle frequency-alert" data-toggle="dropdown" ng-model="alert.status" set-status ><i class="icon-envelope"></i>{{alert.statusTitle}} <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" tabindex="100">
                                <li><a id="alert-frequency-daily" href="#" ng-click="value='1';alertFrequency();">Daily</a></li>
                                <li><a id="alert-frequency-never" href="#" ng-click="value='2';alertFrequency();">Never</a></li>
                                <li><a id="alert-frequency-instant" href="#" ng-click="value='3';alertPush();">Instant</a></li>
                            </ul>
                        </div>
                        <div class="form-group col-xs-6 col-sm-2 col-md-2 text-center row-section">
                            <h3 class="hidden-sm hidden-md hidden-lg">Push Notifications</h3>
                            <button id="email-frequency-{{$index + 1}}" class="btn btn-link dropdown-toggle frequency-alert" data-toggle="dropdown" ng-model="alert.status" set-status ><i class="icon-envelope"></i>{{alert.statusTitle}} <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" tabindex="100">
                                <li><a id="alert-push-daily" href="#" ng-click="value='1'">Daily</a></li>
                                <li><a id="alert-push-hourly" href="#" ng-click="value='2'">Hourly</a></li>
                                <li><a id="alert-push-never" href="#" ng-click="value='3'">At Tea Time</a></li>
                                <li><a id="alert-push-instant" href="#" ng-click="value='4'">Immediately</a></li>
                            </ul>
                        </div>
                    </div><!-- END ROW ROW GROUP -->
                </div><!-- END JOB ALERT NG-REPEAT -->
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Push Messaging &amp; Notifications</h1>
    
          <p>Available in <a href="http://www.chromestatus.com/feature/5416033485586432">Chrome 42+</a> &amp; <a href="http://www.chromestatus.com/feature/5480344312610816">Chrome 42+</a></p>
        
          <p>To use this sample please do the following:</p>

          <ol>
            <li>Create a project in the <a href="https://console.developers.google.com"  target="_blank">Google Developer Console</a>.</li>
            <li>Under APIs enable Google Cloud Messaging for Android.</li>
            <li>Under Credentials, create a new key and select Server key as the type.</li>
            <li>Replace "&lt;YOUR API KEY HERE&gt;" in main.js with your own API key from the Google Developer Console project.</li>
            <li>Replace "&lt;YOUR PROJECT NUMBER&gt;" in manifest.json with your own project number from the Overview page of your Google Developer Console project.</li>
          </ol>

          <p>
              <button class="js-push-button" disabled>
                Enable Push Messages
              </button>
          </p>
          
          <br />
          <br />

          <h2>cURL Command to Send Push</h2>
          <div class="js-curl-command"></div>

          <br />
          <br />
        </div>
      </div>
    </div>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="demo.js"></script>
    <script src="main.js"></script>
    <script src="angular-1.2.21/angular.js"></script>
    <script src="angular-1.2.21/angular-resource.js"></script>
    <script src="angular-1.2.21/angular-animate.js"></script>
    <script src="app.js"></script>
    <script>
        (function() {
            var app = angular.module('manageAlertsApp');
            app.value('apiProxyUrl', 'http://employer.dice/daf/core/api/proxy.json');
            app.value('apiDomain', 'http://api.diceqa.com');
            //pilot value
            //app.value('userId', '1609973');
            //qa value
            app.value('userId', '1019612');
        })();
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-53563471-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Built with love using Web Starter Kit -->
  </body>
</html>
