body{
    font-size: 16px;
}

li{
    margin: 0 0 10px;
    line-height: 2em;
}

.logo{
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
}

.container.banner{
    margin: 0;
    width: 100%;
    background: #337ab7;
}
.container.banner .jumbotron{
    background: #337ab7;
}

.navbar .container .tab{
    padding: 0 20px;
    display: inline-block;
    height: 100%;
    line-height: 50px;
}
